{% extends "layout.html" %}

{% block title %}Tentang Sistem{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <h2 class="mb-4">Tentang Sistem Arsip</h2>
        <p>Sistem Pengecekan Berkas Arsip adalah platform digital yang dirancang untuk memudahkan pengelolaan dan pengecekan berkas arsip secara online.</p>
        
        <h4 class="mt-4">Fitur Utama:</h4>
        <ul>
            <li>Manajemen berkas arsip digital</li>
            <li>Pengecekan ketersediaan berkas</li>
            <li>Antarmuka admin untuk pengelolaan</li>
            <li>Keamanan data dengan sistem login</li>
        </ul>
        
        <h4 class="mt-4">Tujuan:</h4>
        <p>Sistem ini dibuat untuk meningkatkan efisiensi dalam pengelolaan arsip dan memudahkan pencarian dokumen penting.</p>
    </div>
</div>
{% endblock %}