{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <h1 class="display-4">Selamat Datang di Sistem Arsip</h1>
    <p class="lead">Sistem untuk mengecek dan mengelola berkas arsip digital</p>
    <hr class="my-4">
    <p>Gunakan menu di atas untuk navigasi atau login sebagai admin untuk mengelola berkas.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Pengecekan Berkas</h3>
        <p>Memudahkan dalam mengecek ketersediaan berkas arsip secara digital.</p>
    </div>
    <div class="col-md-4">
        <h3>Manajemen Arsip</h3>
        <p>Admin dapat mengelola berkas arsip dengan mudah melalui dashboard.</p>
    </div>
    <div class="col-md-4">
        <h3>Akses Cepat</h3>
        <p>Temukan berkas yang Anda butuhkan dengan sistem pencarian yang efisien.</p>
    </div>
</div>
{% endblock %}